<div class="card-body card shadow mb-4">
    <div class="row">
        <div class="col text-center">
            <h3>Top sản phẩm bán chạy</h3>
            <% if(topProducts.length !=0){%>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th id="name" class="text-center">Tên</th>
                            <th id="price" class="text-center">Giá</th>
                            <th id="sold" class="text-center">Đã bán</th>
                        </tr>
                    </thead>
                    <%topProducts.forEach(data=>{%>
                        <tr>
                            <td class="align-middle text-center">
                                <%=data.name%>
                            </td>
                            <td class="align-middle text-center">
                                <%=data.price.toLocaleString()%> VNĐ
                            </td>
                            <td class="align-middle text-center">
                                <%=data.sold%>
                            </td>
                        </tr>
                        <%});%>
                </table>
                <%}%>
        </div>
        <div class="border">
        </div>
        <div class="col text-center">
            <h3>Doanh số bán hàng</h3>
            <div>
                <div class="col">
                    <div class="dropdown mb-4 float-right">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Lọc theo thời gian
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/?unit=today">Hôm nay</a>
                            <a class="dropdown-item" href="/?unit=week">Tuần hiện tại</a>
                            <a class="dropdown-item" href="/?unit=month">Tháng hiện tại</a>
                            <a class="dropdown-item" href="/?unit=quarter">Quý hiện tại</a>
                            <a class="dropdown-item" href="/?unit=year">Năm hiện tại</a>
                        </div>
                    </div>
                </div>
                <div>
                    Doanh thu:
                    <%=statistics.revenue.toLocaleString()%> VNĐ
                </div>
                <div>
                    <div>Danh sách sản phẩm đã bán trong
                        <%if(statistics.timeUnit=='today' ){%>
                            hôm nay:
                            <%}else if(statistics.timeUnit=='week' ){%>
                                tuần:
                                <%}else if(statistics.timeUnit=='month' ){%>
                                    tháng:
                                    <%}else if(statistics.timeUnit=='quarter' ){%>
                                        quý:
                                        <%}else if(statistics.timeUnit=='year' ){%>
                                            năm:
                                            <%}%>
                    </div>
                </div>
            </div>
            <% if(statistics.productList.length !=0){%>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th id="name" class="text-center">Tên</th>
                            <th id="price" class="text-center">Giá</th>
                            <th id="sold" class="text-center">Đã bán</th>
                        </tr>
                    </thead>
                    <%statistics.productList.forEach(data=>{%>
                        <tr>
                            <td class="align-middle text-center">
                                <%=data.item.name%>
                            </td>
                            <td class="align-middle text-center">
                                <%=data.item.price%>
                            </td>
                            <td class="align-middle text-center">
                                <%=data.qty%>
                            </td>
                        </tr>
                        <%});%>
                </table>
                <%}%>
        </div>
    </div>
    <div class="row">
        <% var stat=statistics%>
            <canvas id="myChart" width="400" height="100"></canvas>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
            <script>
                function renderChart(data, labels) {
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Doanh thu tháng này',
                                data: data,
                                backgroundColor: "rgba(255, 99, 132, 0.2)",
                                borderColor: "rgba(255, 99, 132, 1)",
                                borderWidth: 1
                            }]
                        },
                    });
                }
                let charData = JSON.parse("[" + '<%- statistics.chartData %>' + "]");
                let labels = new Array(charData.length).fill().map((_, idx) => 1 + idx);
                renderChart(charData, labels);
            </script>
    </div>
</div>