<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Danh sách sản phẩm</h2>
    <button type="button" class="btn btn-success"><a href="/products/add">Thêm sản phẩm</a></button>
</div>
<div class="card-body card shadow mb-4">
    <div class="table-responsive card-body">
        <div class="widget color">
            <div class="row widget-desc d-flex">
                <div class="col">
                    <p class="widget-title2">Màu sắc</p>
                    <ul class="d-flex ml-3">
                        <li>
                            <a href="<%=categoryPath%>?color=WHITE<%=queryString%>" data-view-label="WHITE"
                                class="color-label color--white"></a>
                        </li>
                        <li>
                            <a href="<%=categoryPath%>?color=BLACK<%=queryString%>" data-view-label="BLACK"
                                class="color-label color--black"></a>
                        </li>
                        <li>
                            <a href="<%=categoryPath%>?color=NAVY<%=queryString%>" data-view-label="NAVY"
                                class="color-label color--navy"></a>
                        </li>
                        <li>
                            <a href="<%=categoryPath%>?color=ROSEGOLD<%=queryString%>" data-view-label="ROSEGOLD"
                                class="color-label color--rosegold"></a>
                        </li>
                        <li>
                            <a href="<%=categoryPath%>?color=PEARL<%=queryString%>" data-view-label="PEARL"
                                class="color-label color--pearl"></a>
                        </li>
                        <li>
                            <a href="<%=categoryPath%>?color=GREY<%=queryString%>" data-view-label="GREY"
                                class="color-label color--grey"></a>
                        </li>
                        <li>
                            <a href="<%=categoryPath%>?color=PINK<%=queryString%>" data-view-label="PINK"
                                class="color-label color--pink"></a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div class="dropdown mb-4 float-right">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sắp xếp
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="<%=categoryPath%>?sort=all<%=queryString%>">Tất cả</a>
                            <a class="dropdown-item" href="<%=categoryPath%>?sort=price<%=queryString%>">Giá tăng
                                dần</a>
                            <a class="dropdown-item" href="<%=categoryPath%>?sort=-price<%=queryString%>">Giá giảm
                                dần</a>
                            <a class="dropdown-item" href="<%=categoryPath%>?sort=name<%=queryString%>">Tên: A - Z</a>
                            <a class="dropdown-item" href="<%=categoryPath%>?sort=-name<%=queryString%>">Tên: Z - A</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div card-header py-3>
        <%if(searchString!=null){%>
            <h3>Kết quả tìm kiếm cho "<%=searchString%>"</h3>
            <%}%>
    </div>
    <table class="table table-bordered table-striped table-sm" aria-describedby="Product list">
        <thead>
            <tr>
                <th id="name" class="text-center">Tên</th>
                <th id=brand class="text-center">
                    <form action="<%=categoryPath%>?<%=queryString%>" method="GET">
                        <select class="ml-2" name="brand" id="sortByselect" onchange="this.form.submit()">
                            <option value="">Thương hiệu</option>
                            <option value="">Tất cả</option>
                            <option value="Jackson">Jackson</option>
                            <option value="Kashmir">Kashmir</option>
                            <option value="Colosseum">Colosseum</option>
                            <option value="Mykonos">Mykonos</option>
                            <option value="Santorini">Santorini</option>
                            <option value="Florenge">Florenge</option>
                            <option value="Melissani">Melissani</option>
                            <option value="Hamilton">Hamilton</option>
                            <option value="Moraine">Moraine</option>
                            <option value="Beverly">Beverly</option>
                        </select>
                        <input type="submit" class="d-none" value="submit">
                    </form>
                </th>
                <th id="price" class="text-center">Giá</th>
                <th id="color" class="text-center">Màu</th>
                <th id="status" class="text-center">Trạng thái</th>
                <th id="modify" class="text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <% if(products.length !=0){ products.forEach(data=>{
                %>
                <tr>
                    <td class="align-middle text-center">
                        <%=data.name%>
                    </td>
                    <td class="align-middle text-center">
                        <%=data.brand%>
                    </td>
                    <td class="align-middle text-center">
                        <%=data.price%>
                    </td>
                    <td class="align-middle text-center">
                        <%=data.color%>
                    </td>
                    <%if(data.status==1){%>
                        <td class="align-middle text-center">Còn hàng</td>
                        <%}else{%>
                            <td class="align-middle text-center">Hết hàng</td>
                            <%}%>
                                <td class="align-middle text-center">
                                    <button class="btn btn-primary">
                                        <a style="color:#fff;" href="/products/edit/<%=data._id%>">Chỉnh sửa</a>
                                    </button>
                                </td>
                </tr>%>
                <% }) %>
                    <% }else{%>
                        <td colspan="7" class="align-middle">Không có dữ liệu</td>
                        <%}%>
        </tbody>
        <nav aria-label="navigation">
            <ul class="pagination">
                <% if(currentPage && currentPage> 1){%>
                    <%if(searchString){%>
                        <li class="page-item">
                            <a class="page-link" href="<%=categoryPath%>?search=<%=searchString%>&page=<%=prevPage%>">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                </svg>
                            </a>
                        </li>
                        <%} else{%>
                            <li class="page-item">
                                <a class="page-link" href="<%=categoryPath%>?page=<%=prevPage%>">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                    </svg>
                                </a>
                            </li>
                            <%}%>
                                <%}%>

                                    <%if(hasPrevPage){%>
                                        <%if(searchString){%>
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="<%=categoryPath%>?search=<%=searchString%>&page=<%=prevPage%>">
                                                    <%=nextPage%>
                                                </a>
                                            </li>
                                            <%} else{%>
                                                <li class="page-item">
                                                    <a class="page-link" href="<%=categoryPath%>?page=<%=prevPage%>">
                                                        <%=prevPage%>
                                                    </a>
                                                </li>
                                                <%}%>
                                                    <%}%>

                                                        <li class="page-item active">
                                                            <a class="page-link" href="javascript:void(0)"
                                                                tabindex="-1">
                                                                <%=currentPage%>
                                                            </a>
                                                        </li>

                                                        <%if(hasNextPage){%>
                                                            <%if(searchString){%>
                                                                <li class="page-item">
                                                                    <a class="page-link"
                                                                        href="<%=categoryPath%>?search=<%=searchString%>&page=<%=nextPage%>">
                                                                        <%=nextPage%>
                                                                    </a>
                                                                </li>
                                                                <%} else{%>
                                                                    <li class="page-item">
                                                                        <a class="page-link"
                                                                            href="<%=categoryPath%>?page=<%=nextPage%>">
                                                                            <%=nextPage%>
                                                                        </a>
                                                                    </li>
                                                                    <%}%>
                                                                        <%}%>

                                                                            <%if(lastPage>currentPage){%>
                                                                                <%if(searchString){%>
                                                                                    <li class="page-item">
                                                                                        <a class="page-link"
                                                                                            href="<%=categoryPath%>?search=<%=searchString%>&page=<%=nextPage%>">
                                                                                            <svg width="1em"
                                                                                                height="1em"
                                                                                                viewBox="0 0 16 16"
                                                                                                class="bi bi-arrow-right"
                                                                                                fill="currentColor"
                                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                                <path
                                                                                                    fill-rule="evenodd"
                                                                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                                            </svg>
                                                                                        </a>
                                                                                    </li>
                                                                                    <%} else{%>
                                                                                        <li class="page-item">
                                                                                            <a class="page-link"
                                                                                                href="<%=categoryPath%>?page=<%=nextPage%>">
                                                                                                <svg width="1em"
                                                                                                    height="1em"
                                                                                                    viewBox="0 0 16 16"
                                                                                                    class="bi bi-arrow-right"
                                                                                                    fill="currentColor"
                                                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                                                    <path
                                                                                                        fill-rule="evenodd"
                                                                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                                                </svg>
                                                                                            </a>
                                                                                        </li>
                                                                                        <%}%>
                                                                                            <%}%>
            </ul>
        </nav>
    </table>
</div>
</main>