<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
</div>

<div class="d-flex justify-content-between mb-3">
    <h2>Danh sách sản phẩm</h2>
    <button type="button" class="btn btn-success"><a href="/add">Thêm sản phẩm</a></button>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm" aria-describedby="Product list">
        <thead>
            <tr>
                <th id="id">ID</th>
                <th id="name">Tên</th>
                <th id="brand">Thương hiệu</th>
                <th id="price">Giá</th>
                <th id="status">Trạng thái</th>
                <th id="modify">Cập nhật</th>
            </tr>
        </thead>
        <tbody>
            <%
            if(products.length != 0){
                var i = 1;
                products.forEach(data =>{
            %>
            <tr>
                <td><%=i%></td>
                <td><%=data.name%></td>
                <td><%=data.brand%></td>
                <td><%=data.price%></td>
                <td><%=data.status%></td>
                <td>
                    <button class="btn btn-primary">
                    <a style="color:#fff;" href="/edit/<%=data._id%>">Chỉnh sửa</a>
                    </button>
                </td>
            </tr>
            <%  i++; }) %>
            <%  }else{%>
            <td colspan="7">Không có dữ liệu</td>
            <%}
            %>
        </tbody>
    </table>
</div>
</main>