<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Danh sách người dùng</h2>
</div>
<div class="card-body card shadow mb-4">
    <div class="table-responsive card-body">
        <div class="widget color">
            <div class="widget-desc d-flex justify-content-between">
                <!-- Sorting -->
                <div class="col">
                    <div class="dropdown mb-4">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Sắp xếp
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="<%=categoryPath%>?sort=name<%=queryString%>">Tên: A - Z</a>
                            <a class="dropdown-item" href="<%=categoryPath%>?sort=-name<%=queryString%>">Tên: Z - A</a>
                        </div>
                    </div>
                </div>
                <form action="/users/search" method="GET">
                    <div class="input-group">
                        <input type="search" class="form-control bg-light border-0 small" name="search"
                            placeholder="Tìm kiếm người dùng..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div card-header py-3>
        <%if(searchString !=null){%>
            <h3>Kết quả tìm kiếm cho "<%=searchString%>"</h3>
            <%}%>
    </div>
    <table class="table table-bordered table-striped table-sm" aria-describedby="User list">
        <thead>
            <tr>
                <th id="name" class="text-center">Tên</th>
                <th id="email" class="text-center">Email</th>
                <th id="phoneNumber" class="text-center">Số điện thoại</th>
                <th id="gender" class="text-center">Giới tính</th>
                <th id="status" class="text-center">Trạng thái</th>
                <th id="modify" class="text-center">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <%if(users.length !=0 ){ users.forEach(user=>{%>
                <tr>
                    <td class="align-middle text-center">
                        <%=user.name%>
                    </td>
                    <td class="align-middle text-center">
                        <%=user.email%>
                    </td>
                    <td class="align-middle text-center">
                        <%=user.phoneNumber%>
                    </td>
                    <td class="align-middle text-center">
                        <%=user.toJSON().gender%>
                    </td>
                    <%if(user.active==true){%>
                        <td class="align-middle text-center">Kích hoạt</td>
                        <%}else{%>
                            <td class="align-middle text-center">Chưa kích hoạt</td>
                            <%}%>
                                <td class="align-middle text-center">
                                    <button class="btn btn-primary">
                                        <a style="color:#fff;" href="/users/details/<%=user._id%>">Chi tiết</a>
                                    </button>
                                </td>
                </tr>
                <%}) }else{%>
                    Không có dữ liệu người dùng
                    <%}%>
        </tbody>
        <nav aria-label="navigation">
            <ul class="pagination">
                <% if(currentPage && currentPage> 1){%>
                    <%if(searchString){%>
                        <li class="page-item">
                            <a class="page-link" href="<%=categoryPath%>?search=<%=searchString%>&page=<%=prevPage%>">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                </svg>
                            </a>
                        </li>
                        <%} else{%>
                            <li class="page-item">
                                <a class="page-link" href="<%=categoryPath%>?page=<%=prevPage%>">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                                    </svg>
                                </a>
                            </li>
                            <%}%>
                                <%}%>

                                    <%if(hasPrevPage){%>
                                        <%if(searchString){%>
                                            <li class="page-item">
                                                <a class="page-link"
                                                    href="<%=categoryPath%>?search=<%=searchString%>&page=<%=prevPage%>">
                                                    <%=nextPage%>
                                                </a>
                                            </li>
                                            <%} else{%>
                                                <li class="page-item">
                                                    <a class="page-link" href="<%=categoryPath%>?page=<%=prevPage%>">
                                                        <%=prevPage%>
                                                    </a>
                                                </li>
                                                <%}%>
                                                    <%}%>

                                                        <li class="page-item active">
                                                            <a class="page-link" href="javascript:void(0)"
                                                                tabindex="-1">
                                                                <%=currentPage%>
                                                            </a>
                                                        </li>

                                                        <%if(hasNextPage){%>
                                                            <%if(searchString){%>
                                                                <li class="page-item">
                                                                    <a class="page-link"
                                                                        href="<%=categoryPath%>?search=<%=searchString%>&page=<%=nextPage%>">
                                                                        <%=nextPage%>
                                                                    </a>
                                                                </li>
                                                                <%} else{%>
                                                                    <li class="page-item">
                                                                        <a class="page-link"
                                                                            href="<%=categoryPath%>?page=<%=nextPage%>">
                                                                            <%=nextPage%>
                                                                        </a>
                                                                    </li>
                                                                    <%}%>
                                                                        <%}%>

                                                                            <%if(lastPage>currentPage){%>
                                                                                <%if(searchString){%>
                                                                                    <li class="page-item">
                                                                                        <a class="page-link"
                                                                                            href="<%=categoryPath%>?search=<%=searchString%>&page=<%=nextPage%>">
                                                                                            <svg width="1em"
                                                                                                height="1em"
                                                                                                viewBox="0 0 16 16"
                                                                                                class="bi bi-arrow-right"
                                                                                                fill="currentColor"
                                                                                                xmlns="http://www.w3.org/2000/svg">
                                                                                                <path
                                                                                                    fill-rule="evenodd"
                                                                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                                            </svg>
                                                                                        </a>
                                                                                    </li>
                                                                                    <%} else{%>
                                                                                        <li class="page-item">
                                                                                            <a class="page-link"
                                                                                                href="<%=categoryPath%>?page=<%=nextPage%>">
                                                                                                <svg width="1em"
                                                                                                    height="1em"
                                                                                                    viewBox="0 0 16 16"
                                                                                                    class="bi bi-arrow-right"
                                                                                                    fill="currentColor"
                                                                                                    xmlns="http://www.w3.org/2000/svg">
                                                                                                    <path
                                                                                                        fill-rule="evenodd"
                                                                                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                                                                                </svg>
                                                                                            </a>
                                                                                        </li>
                                                                                        <%}%>
                                                                                            <%}%>
            </ul>
        </nav>
    </table>
</div>
</main>